<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/vendor/core-ui/css/core-ui-icons.min.css">
    <link rel="stylesheet" id="theme-sheet" href="/assets/vendor/core-ui/css/light.css">
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css">
    <title>Task Manager</title>
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div id="app"></div>

    <script src="/assets/js/app.js"></script>
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/popper/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/core-ui/js/core-ui.min.js"></script>
  </body>
</html>